@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kantumruy+Pro:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: Comfortaa;
}

body{
    background-color: rgb(211,217,226);
}

.container{
    margin: 10px auto;
}

.main-page-header{
    padding: 10px 0px;
}

.main-page-header .company-name{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.navigation{
    margin-left: 20px;
}

.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 15px;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

.display-name {
    font-weight: 600;
}

#transact-btn{
    background-color: #FFB114;
    border: 1px solid #543800;
    color: rgb(0, 0, 0);
}

#account-btn{
    background-color: #FF4E00;
    border: 1px solid #8B2B00;
    color: white;
}

/*Fondo de lateral izquiedo*/
.offcanvas{
    background-color: rgba(30, 30, 228, 0.813);
}

.pay-btn{
    background-color: #FFB114;
    border: 1px solid #543800;
    color: rgb(0, 0, 0);
}

.payment-card{
    display: none;
}

.transfer-card{
    display: none;
}

.deposit-card{
    display: none;
}

.withdraw-card{
    display: none;
}
